# nix stuff
.direnv/
result

# python stuff
.venv/
__pycache__/
build/
*.so

# ignore model weights
*.pth
*.pkl
*.pkl.json
*.bin

# ignore training data
*.npy

# don't add cloned tinygrad
tinygrad/

# ignore generated c code
compiled/

# wandb
wandb
